.content-container {
  grid-area: Content;
  position: fixed;
  margin-top: 90px;
  height: 100%;
  width: 100%;
  background-color: #eaeaea;
  scroll-behavior: smooth;
  overflow-y: auto;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
  color: #00573f;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #00573f;
}

.content {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 50%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 50px;
  overflow-y: auto;
}

input:not(.name input, .date input),
select {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}

textarea {
  display: flex;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  resize: none;
}

.details,
.title,
.content-type,
.keywords,
.access-level,
.abstract {
  margin-bottom: 10px;
}

.details div,
.title div,
.content-type div,
.keywords div,
.access-level div,
.abstract div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

label {
  margin-bottom: 5px;
  margin-left: 3px;
}

.name,
.unit,
.date {
  display: flex;
  margin-bottom: 10px;
  margin-top: 5px;
}

.name div,
.unit div,
.date div {
  display: flex;
  flex: 1;
  min-width: 0;
}

.name input {
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  border: solid #ccc;
  border-width: 1px 0px 1px 1px;
  padding: 5px;
}

.name input:nth-child(1),
.date input:nth-child(1) {
  border-radius: 5px 0px 0px 5px;
}

.delete-row-btn {
  width: 160px; /* Set button width to 70px */
  height: 30px; /* Match input height */
  border: none;
  border-radius: 0px 5px 5px 0px;
  background-color: #981610;
  color: white;
  box-sizing: border-box; /* Ensure padding/border don't affect width */
  text-align: center;
  line-height: 30px; /* Vertically align the minus symbol */
  cursor: pointer;
}

.organization {
  display: flex;
  justify-content: space-between;
}

.organization label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-row-btn {
  width: 37px;
  height: 30px;
  border-radius: 5px;
  background-color: #f4c430;
  border: none;
  cursor: pointer;
}

.unit {
  display: flex;
  vertical-align: middle;
  gap: 10px;
  margin-bottom: 15px;
}

.unit div {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.date input {
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  border: solid #ccc;
  padding: 5px;
}

.date input:nth-child(1),
input:nth-child(2) {
  border-width: 1px 0px 1px 1px;
}

.date input:nth-child(3) {
  border-width: 1px;
  border-radius: 0px 5px 5px 0px;
}

.embargo-duration {
  display: flex;
  vertical-align: middle;
  gap: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.embargo-duration input {
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  border: solid #ccc;
  padding: 5px;
}

/* Style for Cancel and Upload File buttons */
.footer-buttons {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.footer-buttons:nth-of-type(1) {
  background-color: #f5c94a;
  color: black;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.footer-buttons:nth-of-type(1):hover {
  background-color: #f5c94a;
}

.footer-buttons:nth-of-type(2) {
  background-color: #00573f;
  color: white;
  transition: background-color 0.3s;
}

button:nth-of-type(2):hover {
  background-color: #003d2b;
}
