.requests-section {
    padding-top: 90px;
    max-width: 1000px;
    margin: 0 auto;
}

.requests-section h1 {
    text-align: center;
    color: #00573f;
    font-weight: 600;
    font-size: 36px;
}

.table-container {
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.table-container h2 {
    color: #333;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.trash-icon {
    color: #00573f;
    margin-right: 8px;
}

.edit-icon {
    color: #00573f;
    margin-right: 8px;
}

.requests-table {
    width: 100%;
    border-collapse: collapse;
}

.requests-table th,
.requests-table td {
    text-align: center;
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.requests-table th {
    background-color: #f4f4f4;
    color: #333;
}

.requests-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.action-btn {
    padding: 8px 12px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.accept-btn {
    background-color: #00573f;
}

.accept-btn:hover {
    background-color: #00462e;
}

.refuse-btn {
    background-color: #848484;
    margin-left: 5px;
}

.refuse-btn:hover {
    background-color: #555555;
}
